.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;


}

h1 {
    color: aliceblue;
    font-size: 30px;

}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(87, 26, 102);
    width: 400px;
    margin-bottom: 20px;



    & button {
        border-radius: 50px;
        background-color: rgba(142, 82, 147, 0.952);
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        color: aliceblue;
        font-size: 15px;
    }

    /*deixa o botão translucido ao passar o cursor*/
    & button:hover {
        opacity: 0.8;
    }

    & input {
        border-radius: 20px;
        border: 5px solid #931797;
        height: 40px;
        background-color: #ffffff;
        padding-left: 10px;
        /*não deixa a letra ficar encostada na borda*/
        /*outline: none; não sei se quero borda azul no input*/
    }
}

.mostrarusuarios {
    display: flex;
    justify-content: space-between;
    background-color: rgb(87, 26, 102);
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;

    & p {
        color: #fff;
        font-weight: bold;


        & span {
            font-weight: normal;
        }

        & button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            
        }
        
    }
}